body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: powderblue;
    background-position: 50px;
}

.content {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
#name-input {
    background-color:  green;
    border-radius: 2px;
}


#gift-input {
    color: white;
    text-wrap: inherit;
    font-size: large;
    font-weight: bold;
    background-color: red;
    box-shadow: inset red;
    border-radius: 2px;
}
label {
    font-size: 20px;
    font-weight: bold;
}

#tracking {
    opacity: .7;
    font-style: italic ;
}

#pim {
  box-shadow: 10px 10px 10px rgba(154, 53, 156, 0.542);
}


#form {
    border-color: red;
    border-width: 5px;
}

#submit {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    box-shadow: red;
}

#submit:hover {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    box-shadow: red;
    text-shadow: -1px 0  white, 0 1px 2px red, 1px 0 blue, 0 -1px black;

}
